body { background: #6e3933; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 58px; display: flex; }
.block-cluster-0 { color: #6e9764; font-size: 15px; margin-bottom: 5px; }
.block-database-1 { color: #d8ee15; font-size: 19px; margin-bottom: 5px; }
.block-shipping-2 { color: #cd31b3; font-size: 19px; margin-bottom: 5px; }
.block-cluster-3 { color: #6624e6; font-size: 12px; margin-bottom: 5px; }
.block-database-4 { color: #c93ec2; font-size: 12px; margin-bottom: 5px; }